################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/MainWindow.g.i.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/MainWindow.g.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/MainWindow.baml
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/AuthenticationWindow.g.i.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/AuthenticationWindow.g.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows/AuthenticationWindow.baml
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Windows
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Resources/Styles.baml
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Resources/ApplicationTexts.baml
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/Resources
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/ref/MultiboardClient.dll
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/ref
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_xj0lh5kl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_xj0lh5kl_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_xj0lh5kl_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_xj0lh5kl_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_MarkupCompile.lref
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_MarkupCompile.i.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_MarkupCompile.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_Content.g.i.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient_Content.g.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.pdb
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.genruntimeconfig.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.g.resources
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.dll
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.csproj.FileListAbsolute.txt
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.csproj.CoreCompileInputs.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.csproj.AssemblyReference.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.assets.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/MultiboardClient.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/apphost.exe
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/App.g.i.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/App.g.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/App.baml
/Multiboard/MultiboardClient/obj/Release/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Multiboard/MultiboardClient/obj/Release/net6.0-windows
/Multiboard/MultiboardClient/obj/Release/MultiboardClient.1.0.0.nuspec
/Multiboard/MultiboardClient/obj/Release
/Multiboard/MultiboardClient/obj/MultiboardClient_124hqyni_wpftmp.csproj.nuget.g.targets
/Multiboard/MultiboardClient/obj/MultiboardClient_124hqyni_wpftmp.csproj.nuget.g.props
/Multiboard/MultiboardClient/obj/MultiboardClient_124hqyni_wpftmp.csproj.nuget.dgspec.json
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_znbfa4po_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_znbfa4po_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_znbfa4po_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_znbfa4po_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_zknj2lqn_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_zknj2lqn_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_zknj2lqn_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_zknj2lqn_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_yuijag5g_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_yuijag5g_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_yuijag5g_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_yuijag5g_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_y1nfmogq_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_y1nfmogq_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_y1nfmogq_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_y1nfmogq_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_xyque0wc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_xyque0wc_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_xyque0wc_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_xyque0wc_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_wrvstar1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_wrvstar1_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_wrvstar1_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_wrvstar1_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_vt5asyzr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_vt5asyzr_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_vt5asyzr_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_vt5asyzr_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ttuvltpz_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ttuvltpz_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ttuvltpz_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ttuvltpz_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tjbmaqr5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tjbmaqr5_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tjbmaqr5_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tjbmaqr5_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_th0syeq0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_th0syeq0_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_th0syeq0_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_th0syeq0_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tdd3gprv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tdd3gprv_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tdd3gprv_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_tdd3gprv_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rsz554am_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rsz554am_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rsz554am_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rsz554am_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rrmy2me1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rrmy2me1_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rrmy2me1_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rrmy2me1_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rdxqgxue_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rdxqgxue_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rdxqgxue_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_rdxqgxue_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_nvokbpze_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_nvokbpze_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_nvokbpze_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_nvokbpze_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_npkndyn0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_npkndyn0_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_npkndyn0_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_npkndyn0_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_mgxmskoh_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_mgxmskoh_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_mgxmskoh_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_mgxmskoh_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_m2mox2vr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_m2mox2vr_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_m2mox2vr_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_m2mox2vr_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ldvdcvj4_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ldvdcvj4_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ldvdcvj4_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ldvdcvj4_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_kwtvtcsr_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_kwtvtcsr_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_kwtvtcsr_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_kwtvtcsr_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_k5t5qyjc_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_k5t5qyjc_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_k5t5qyjc_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_k5t5qyjc_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ibqvincf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ibqvincf_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ibqvincf_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ibqvincf_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_f4mqzsn0_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_f4mqzsn0_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_f4mqzsn0_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_f4mqzsn0_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_Content.g.i.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_Content.g.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_bjjdbins_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_bjjdbins_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_bjjdbins_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_bjjdbins_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_b0jqy51w_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_b0jqy51w_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_b0jqy51w_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_b0jqy51w_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ao4mqtxb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ao4mqtxb_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ao4mqtxb_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_ao4mqtxb_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_a4gxg3q3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_a4gxg3q3_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_a4gxg3q3_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_a4gxg3q3_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_4t50jmw1_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_4t50jmw1_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_4t50jmw1_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_4t50jmw1_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_44ihljt5_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_44ihljt5_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_44ihljt5_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_44ihljt5_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_3husdxqf_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_3husdxqf_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_3husdxqf_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_3husdxqf_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_34rn3rvl_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_34rn3rvl_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_34rn3rvl_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_34rn3rvl_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_20sue5j3_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_20sue5j3_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_20sue5j3_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_20sue5j3_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_1hwamhch_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_1hwamhch_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_1hwamhch_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_1hwamhch_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_124hqyni_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_124hqyni_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_124hqyni_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_124hqyni_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_0hfm4uhv_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_0hfm4uhv_wpftmp.assets.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_0hfm4uhv_wpftmp.AssemblyInfoInputs.cache
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows/MultiboardClient_0hfm4uhv_wpftmp.AssemblyInfo.cs
/Multiboard/MultiboardClient/obj/Debug/net6.0-windows
/Multiboard/MultiboardClient/obj
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/ref/MultiboardClient.dll
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/ref
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/MultiboardClient.runtimeconfig.json
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/MultiboardClient.pdb
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/MultiboardClient.exe
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/MultiboardClient.dll
/Multiboard/MultiboardClient/bin/Release/net6.0-windows/MultiboardClient.deps.json
/Multiboard/MultiboardClient/bin/Release/net6.0-windows
/Multiboard/MultiboardClient/bin/Release/MultiboardClient.1.0.0.nupkg
/Multiboard/MultiboardClient/bin/Release
/Multiboard/MultiboardClient
